{{ JOB_CARD }}
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ DFS_IMSPlex }},ROUTE={{ DFS_IMS_SSID }},WAIT=30,F=WRAP')
//STEPLIB   DD DISP=SHR,DSN={{ DFS_RESLIB }}
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
{% for i in range(NUM_OF_JMPS) %}
       /STO REGION JOBNAME {{ DFS_IMS_SSID }}JMP{{ i }}
{% endfor %}
/*